.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(11, 20, 24);
  color: white;

  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    li {
      color: white;
      
    }
  }
}

.item-detail {
  img {
    height: 20vh;
  }
}